<div class="tz-gallery">
  <div class="row">
    <% @pictures.each do | pic | %>
      <div class="col-md-6 col-lg-4">
        <div class="thumbnail">
          <div class="lightbox">
            <%= image_tag pic.image_url, class: "img-fluid" %>
          </div>
          <div class="caption">
            <p><%= pic.location %></p>
            <p><%= l pic.date, format: :short %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>