<div class="container-fluid gallery-container">
  <h1>ShowoffGram</h1>
  <p class="page-description text-center">An example of Instagram integration</p>
  <% if logged_in? %>

    <%= render partial: "galery" %>
  <% else %>
    <div class="mx-auto login-container">
      <%= link_to "Enter with Instagram", @url, class: "btn btn-primary" %>
    </div>
  <% end %>
  </div>
</div>
