<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h2 class="display-4">ShowGram</h2>

        <p>Click on the button to login to instagram</p>
        <%= link_to "Enter with Instagram", @url, class: "btn btn-primary" %>

    </div>
  </div>
  <div id="alert-area"></div>
</main>